#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

use flake

nixcats_dev_pack_dir_str="$(nix eval ".#extra.$(nix eval --impure --raw --expr 'builtins.currentSystem').packDir")"
export NIXCATS_DEV_PACK_DIR="${nixcats_dev_pack_dir_str:1:${#nixcats_dev_pack_dir_str}-2}"
